.quote-design{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 100%;
    width: max-content;
    padding: 18px;
    margin-top: -30px;
    margin-left: 20px;
   position:absolute;
   background: white;
    
}

.places-card{
    box-shadow: 0px 60px 140px -16px #252D3D0F;
    border: 0;
    border-radius: 12px 12px;
    height: 466px;
}
.places-card img{
    border-radius: 12px 12px 0px 0px;
}