.header-container{
    background: url('../../Images/Header.png');
    background-repeat: no-repeat;
    height:1000px;
    background-size: cover;
    overflow: visible;
}

@media screen and (max-width: 500px){

}